RedirectMatch 404 /\.git

RewriteEngine On
RewriteRule settings.json - [F] 
RewriteRule cron.php - [F] 
RewriteRule .gitignore - [F] 

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule . ./index.php [L] 
